@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --pearl-white: #fff;
  --burnt-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

/*nav {
  z-index: index 2;
} */

/*Nav link*/
.nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
.logo{
  width: 12.25rem;
  border-radius: 75px;
  
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0% !important;
  height: 13.5rem !important;
  color: var(--pearl-white) !important;
}

.nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--pearl-white) !important;
  border-top: 0.187rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 3px solid var(--burnt-orange);
}

.navbar-nav > li > a:hover{
  border-top: 3px solid var(--burnt-orange);
}

/*Header*/

.header-wraper{
  position: relative;
  background: url(portfolio_img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align:justify;
  font-family: "Roboto Condensed" sans-serif;

}

.main-info-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align:justify;
  font-family: "Roboto Condensed" sans-serif;
}

.main-info h1{
  color: var(--pearl-white);
  text-transform: uppercase;
}
.main-info h3{
  color: var(--pearl-white);
  text-transform: uppercase;
}

/*text-typed*/
.text-typed {
  font-size: 2rem;
  color: var(--burnt-orange);
}

/*particles*/
.tsparticles-canvas-el{
  position: absolute;
  height:100vh;
  width:100vw;
  z-index: 1;
}